/* temperature.html */

/* définition de la police de caractères */
body {
  background-image: url("./Image1.png");
 background-size: 1920px 1080px;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

/* définition des couleurs */
.ui-header {
  background-color: transparent;
  color: #fff;
}
[data-role="header"] {
    height: 150px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.ui-footer {
	background-color: transparent;
	color: #333;
}

.ui-content {
  background-color: transparent;
  
}

/* centrage de l'image */
div > img {
}

/* style des liens */
a {
  color: #003040;
  text-decoration: none;
}

a:hover {
  color: #333;
}

/* ajustement de la hauteur de la barre d'en-tête */
.ui-header {
  height: 80px;
}

/* positionnement du titre */
.titre-principal {
  text-align: center;
}


/* style des listes */
ul {
  list-style: none;
  padding-left: 450;
  margin-top: 30px;
}

.souligne {
  text-decoration: underline;
}

.bubble {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

div 
{
   display:inline;
   margin: 0px 10px 0px 10px;
   font-size: 18px;
   font-family: Arial, sans-serif;
}
li:last-child {
  border-bottom: none;
}

h1 {
  margin: 0;
  font-size: 70px;
}
h4 {
	margin-top: 205px;
}
/* style des boutons de la barre d'en-tête */
.ui-btn {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

.ui-btn:hover {
	background-color: transparent;
	border-color: transparent;
	color: #008080;
}

/* ajustement de la taille des boutons */
.ui-btn-icon-right:after {
  font-size: 26px;
}

/* style des icônes des boutons */
.ui-icon-arrow-l:after {
  content: "\f3ea";
}
h2 {
	margin: 160px 490px 0px 25px;
	font-size: 16px;
}

h3 {
	margin: 130px 400px 0px 0px;
	font-size: 16px;
}

h5 {
	margin: 140px 330px 0px 25px;
	font-size: 16px;
}


