<html>
<head>
	
	 
		<!-- Meta pour la largeur des pages sur mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
	<!-- Appel des fichiers js -->
	<script src="./includes/js/jquery-1.11.1.min.js"></script>
	<script src="./includes/js/jquery.mobile-1.4.5.min.js"></script>
	<script src="./includes/js/jquery.AshAlom.gaugeMeter-2.0.0.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	
	<!-- Appel du fichier css de personnalisation -->
	<link rel="stylesheet" type="text/css" href="./temperature.css" />
	
	 <!-- Destruction du cache -->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	
	<!-- Titre des pages -->
	<title>Température de l'aquarium</title>
	</head>

<body>

	<div data-role="page">
		<!-- Barre d'en-tête -->
		<div data-role="footer" style="height:150px;">
			<center><h1 class="souligne">Température</h1></center>
		</div>
		<!-- /Barre d'en-tête -->
		<!-- Contenu -->
		<div data-role="main" class="ui-content">
			<ul data-role="listview" >
		
					<a>
						<h2 class="bubble">
							<p>Valeur de la température:({{temp}}°C)</p>
						</h2> </a>
						
					<a href="" data-ajax="false">
						<h3 class="bubble">
							<p>Historique</p>
						</h3>	</a>

					<a href="Eclairage.php?id=1" data-ajax="false">
						<h5 class="bubble">
							<p>graphique</p>
						</h5>	</a>

				
			</ul>
		</div>
		
		<!-- /Contenu -->
		<!-- Barre de pied de page -->
		<div data-role="footer">
			<center><h4>Aquaman- &copy;2023 Thilliez Frey Dubourget Badonnel</h4></center>
		</div>
		<!-- /Barre de pied de page -->
	</div>
</body>
</html>